
<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" href="about.css">

        
    </head>
   
    <body>
          
<div class="head_title"> 
    <br>
    
     <h3>About us</h3>
 </div>
     <div class="about_photo">
         <div class="about_content">
           <img src="about_us_image2.png" width="600" height="400" />
         </div>
   
         <div class="left_data">
           <ul style="list-style-image: linear-gradient(to left bottom, red, blue);
           line-height: 250%;"> 
          <li>  <h3 >
             Quient training is an enthusiastic group intended to train
             students in colleges that are denied the privilege of Placement
             training, A group of Enthusiasts now have a vision of training
             students that don't have access to placement training that can
             help them get placed, and thereby build their future.
           </h3>
         </li>
         </ul>
         </div>
       </div>
       
            <footer class="foot">
                Contact information: &nbsp;&nbsp;
                  <a href="https://www.gmail.com">slack@gmail.com</a>
                  &nbsp;&nbsp;
                  <a href="https://www.instagram.com">Instagram</a>
                  &nbsp;&nbsp;
                  <a href="https://in.linkedin.com">Linked-in</a>
                  &nbsp;&nbsp;  

                  Tel: +91 9988776655
     </footer> 
    </body>

</html>