<html>
    <head>
        <title>Placement Training</title>
        <link rel="stylesheet" href="home.css">

    <link href=" favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

   <!-- Vendor CSS Files -->
   <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
   <link href="assets/vendor/aos/aos.css" rel="stylesheet">
   <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
   <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
   <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
   <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="style.css" rel="stylesheet">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- <a href="https://api.whatsapp.com/send?phone=9988776655&text=Feel free to contact us..." class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i> -->
</a>
         <style>
            
        </style>
    </head>
    
    <body>
       <div class="container-fluid navbardata">

      <header>
            <img src="Bionic.jpg" width="300" height="100">
            <div class="right">
               <ul class="navbar">
                <li><a href="/" class="active">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/Testimonials">TESTIMONIALS</a></li>
                <li><a href="/gallery">GALLERY</a></li>
                <li><a href="/contact">CONTACT US</a></li>
               </ul>
            </div>
        </header> 
      </div>